/* Общие стили для всех страниц */
body {
    background-color: #f7f9fc;
    font-family: 'Arial', sans-serif;
}

/* Стиль для кнопок */
.glass-btn {
    border-radius: 50px;
    padding: 0.75rem 2rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.glass-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

/* Эффект стекла для карточек */
.glass-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Элементы с картинками */
.card-img {
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.card-img:hover {
    transform: scale(1.05);
}
